.profilePageCard{
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* box-shadow: var(--profileShadow); */
    padding-bottom: 10px;

}

/* ====================Profile Images=================== */
.profilePicsP{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.profilePicsP > img:nth-of-type(1) {
    width: 100%;
    max-height : 250px;
    object-fit: cover;
}

.profilePicsP > img:nth-of-type(2) {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    bottom: -3rem;
    box-shadow: var(--profileShadow);
}


/* =====================Profile Name================ */
.profileName {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    gap: 10px;
}
  
.profileName > p:nth-of-type(1) {
    font-weight: bold;
}

.profileName > p:nth-of-type(2){
    color: grey;
}
  
/* ================Follow Status================== */
.followStat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}

.followStat > hr {
    width: 85%;
    border: 1px solid #cfcdcd;
}

.followStat > div {
    display: flex;
    gap: 1rem;
    width: 80%;
    justify-content: space-around;
    align-items: center;

}

.follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.follow > span:nth-of-type(1) {
    font-weight: bold;
}

.follow > span:nth-of-type(2) {
    color: rgba(36, 45, 73, 0.65);
    font-size: 13px;
}

.vline{
    border: 1px solid rgba(36, 45, 73, 0.65);
    height: 35px;
}

 
.profile
{
    font-weight: bold;
    color: var(--app-color);
    align-self: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.btn-follow {
    width: 20%;
    background-color: var(--app-color);
    border: none;
    padding: 5px 15px 5px 15px;
    text-align: center;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
}

.btn-unfollow {
    width: 20%;
    background-color: #85b8d8;
    border: none;
    padding: 5px 15px 5px 15px;
    text-align: center;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
}
