.sidebar{
    flex: 0.2;
    min-width: 250px;
    /* margin-top: 1rem; */
    padding-left: 20px;
    overflow-y: scroll;
    padding-right: 20px;
}

/* Hide the scrollbar */
.sidebar::-webkit-scrollbar{
    display: none;
}

.birdyIcon{
    color: var(--app-color);
    font-size: 30px !important;
    margin-left: 20px;
    margin-bottom: 20px;
}

