.user{
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;

}

.username > span{
    font-size: 15px;
    color: black;

}

.button{
    margin-left: auto;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 2px solid var(--app-color);
    color: var(--app-color);
    text-align: center;
    font-weight: 500;
}

.button:hover,
.button:active {
  background-color: var(--app-color);
  color: #FFFFFF;
}

.avatar{
   padding-right: 10px;
}

